.bundle
.rbx/
db/*.sqlite3
db/*.sqlite3-journal
log/*.log*
tmp/
coverage/*
backups/*
*.swp
public/uploads/
.ruby-version
.ruby-gemset
.rvmrc
.rbenv-version
.directory
nohup.out
config/log-monitor.yml
config/database.yml
db/data.yml
.idea
.DS_Store
.chef
vendor/bundle/*
doc/code/*
*.log
public/uploads.*
public/assets/
.envrc
dump.rdb
tags

tmp/dummy/.bundle
tmp/dummy/.rbx/
tmp/dummy/db/*.sqlite3
tmp/dummy/db/*.sqlite3-journal
tmp/dummy/log/*.log*
tmp/dummy/tmp/
tmp/dummy/coverage/*
tmp/dummy/backups/*
tmp/dummy/*.swp
tmp/dummy/public/uploads/
tmp/dummy/.ruby-version
tmp/dummy/.ruby-gemset
tmp/dummy/.rvmrc
tmp/dummy/.rbenv-version
tmp/dummy/.directory
tmp/dummy/nohup.out
tmp/dummy/config/log-monitor.yml
tmp/dummy/config/database.yml
tmp/dummy/db/data.yml
tmp/dummy/.idea
tmp/dummy/.DS_Store
tmp/dummy/tmp/dummy/.chef
tmp/dummy/vendor/bundle/*
tmp/dummy/doc/code/*
tmp/dummy/*.log
tmp/dummy/public/uploads.*
tmp/dummy/public/assets/
tmp/dummy/.envrc
tmp/dummy/dump.rdb
tmp/dummy/tags

