.bundle
.rbx/
db/*.sqlite3
db/*.sqlite3-journal
log/*.log*
tmp/
coverage/*
backups/*
*.swp
public/uploads/
.ruby-version
.ruby-gemset
.rvmrc
.rbenv-version
.directory
nohup.out
config/log-monitor.yml
config/database.yml
db/data.yml
.idea
.DS_Store
.chef
vendor/bundle/*
doc/code/*
*.log
public/uploads.*
public/assets/
.envrc
dump.rdb
tags
test/dummy.bak/

test/dummy/.bundle
test/dummy/.rbx/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log*
test/dummy/tmp/
test/dummy/coverage/*
test/dummy/backups/*
test/dummy/*.swp
test/dummy/public/uploads/
test/dummy/.ruby-version
test/dummy/.ruby-gemset
test/dummy/.rvmrc
test/dummy/.rbenv-version
test/dummy/.directory
test/dummy/nohup.out
test/dummy/config/log-monitor.yml
test/dummy/config/database.yml
test/dummy/db/data.yml
test/dummy/.idea
test/dummy/.DS_Store
test/dummy/tmp/dummy/.chef
test/dummy/vendor/bundle/*
test/dummy/doc/code/*
test/dummy/*.log
test/dummy/public/uploads.*
test/dummy/public/assets/
test/dummy/.envrc
test/dummy/dump.rdb
test/dummy/tags

